name: Test SemSimian Server
on:
  push:
    branches: [ main, fix_gh_actions, test_build ]
  pull_request:
    branches: [ main, fix_gh_actions, test_build ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Install Python dev dependencies
        run: sudo apt-get update && sudo apt-get install python3-dev

      - name: Download Phenio
        run: |
          mkdir -p ~/.data/oaklib
          wget https://data.monarchinitiative.org/monarch-kg/latest/phenio.db.gz -O ~/.data/oaklib/phenio.db.gz
          gunzip ~/.data/oaklib/phenio.db.gz

      - name: Run Tests
        run: |
          cargo build
          cargo test test_compare -- --nocapture
          cargo test test_search -- --nocapture
